<header>
  
  <%if user_signed_in? %>
    <%= link_to 'déconnection', destroy_user_session_path, method: :delete, class:"liens" %>
    <%= link_to 'home', root_path, class: "liens" %>
    <%= link_to 'donner une localisation', new_event_path, class:"liens" %>
  <% else %>
    <%= link_to 'connection', new_user_session_path, class: "liens" %>
  <%end%>
</header>

<div class="eventNew">
	<div form>


		<h1 class="titres">ELLE EST OU LA TEUF !!!</h1>
		<%= form_tag url_for(action: 'create'), method: "post" do %>


  		<div class="form-group">
    		<%= label_tag(:title, "Titre:") %><br>
    		<%= text_field_tag(:title,"", :class => 'form-control')%>
  		</div>


  		<div class="form-group">
   			<%= label_tag(:desc, "description:") %><br>
    		<%= text_area_tag(:desc,"", :class => 'form-control')%>
  		</div>


  		<div class="form-group">
   			 <%= label_tag(:date, "jour:") %><br>
   			 <%= text_field_tag(:date,"", :class => 'form-control')%>
  		</div>


  		<div class="form-group">
    		<%= label_tag(:time, "heure:") %><br>
    		<%= text_field_tag(:time,"", :class => 'form-control')%>
  		</div><br>

      <%= submit_tag("Créer la teuf") %>
  		<%end%>
	</div>
</div>